#app {
    width: 375px;
    height: 812px;
    margin: 30px auto;
    border: 1px solid black;
    padding-top: 42px;
}
/* top */
#app .top {
    border: 1px solid black;
    padding: 16px;
    height: 56px;
    /* display: flex;
    align-items: center; */
}
#app .top .prev {
    width: 24px;
    height: 24px;
    background-color: gray;
    overflow: hidden;
    display: inline-block;
}
#app .top .prev img {}
/* logo */
#app h1 {
    width: 161px; height: 35px;
    background-color: gray;
    margin: 40px auto 40px;
}
#app h1 a {
    border: 1px solid gray;
    display: flex;
}
#app h1 a img {}
/* 키보드 */
#app .keyboard_g {
    border: 1px solid black;
    margin: 0 0 16px; /* 바깥아래여백 */
    padding: 0 16px; /* 안쪽좌우여백 */
    /* text-align: right; */
    display: flex; /* div(container) a(item) */
    justify-content: flex-end;
}
#app .keyboard_g a {
    font-size: 0.75rem;
    display: flex; /* a(container) 글자, img(item) */
    align-items: flex-start;
}
#app .keyboard_g a img {
    width: 16px;
    height: 16px;
    background-color: gray;
    margin-left: 6px;
}
/* form */
#app #login_frm {}
#app #login_frm .login_g {}
#app #login_frm .login_g ul {
    border-radius: 5px;
    border: 1px solid black;
    overflow: hidden;
    margin: 0 16px 16px;
}
#app #login_frm .login_g ul li {}
#app #login_frm .login_g ul li:first-child {
    border-bottom: 1px solid black;
}
#app #login_frm .login_g ul li input[name^=user] {
    border: 0;
    outline: none;
    /* background-color: lime; */
    width: 100%; /* input, button은 inline 요소지만 css에서 크기를 인식한다. */
    padding: 16px 16px 16px 56px;
}
#app #login_frm .login_g ul li input[name$=id] {}
#app #login_frm .login_g ul li input[name$=pw] {}
#app #login_frm .login_g .btn {
    margin: 0 16px;
}
#app #login_frm .login_g .btn #login_btn {
    padding: 16px 0;
    width: 100%;
    /* button 안쪽 글자는 기본 정렬이 가운데이다. */
}
/* 로그인 오류 시 출력 메세지(기본숨김) */
#app #login_frm .login_g .error_message {
    font-size: 0.75rem;
    margin: 0 16px 16px;
    display: none; /* 초기 숨김 */
}
/* 찾기, 가입 */
#app .search_join {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#app .search_join a {
    font-size: 0.75rem;
    display: flex;
}
#app .search_join a::after {
    content: ''; /* 가상에 꼭 삽입해야하는 필수 값 */
    display: block; /* 가상에 꼭 삽입해야하는 필수 값 */
    width: 1px; height: 10px; background-color: black; /* 선이 아닌 면으로 취급해야함 */
    margin: 0 8px;
}
/* 마지막 구분선 제거 */
#app .search_join a:last-child::after {display: none; /* margin: 0; */}