main {}
/* 배경 공통 & 개별값 + 공통 제목 */
main .bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* bg cover란? 배경이미지가 적용된 요소의 크기에 자동으로 가로세로 크기를 맞춰 채운다는 뜻 */
}
main .bg > section {width: 1250px; margin: 0 auto;}
main .bg1 {background-image: url(../images/bg.jpg); height: 824px;}
main .bg2 {background-image: url(../images/bg_2.jpg);}
main .bg3 {background-image: url(../images/bg_3.jpg);}
main .bg4 {background-image: url(../images/bg_4.jpg);}
main .bg5 {background-image: url(../images/bg_5.jpg);}
main .bg6 {background-image: url(../images/bg_6.jpg);}
main .bg7 {background-image: url(../images/bg_7.jpg);}
main .bg8 {background-image: url(../images/bg_8.jpg);}
main .bg9 {}
main .bg10 {}
main .bg11 {}
main .bg12 {}
main .bg section .sub_title {
    color: #fff;
    font-size: 3.438rem;
    font-weight: 600;
    letter-spacing: -0.1px;
    line-height: 1.2;
}
main .bg section .sponsor_link {
    /* 0% FE9300, 100% FF7300 */
    /* CSS 회전각도단위 deg */
    background: linear-gradient(90deg, #FE9300, #FF7300);
    /* gradient적요을 위해 background통합속성을 사용했을 때 해당 요소 추가 배경이미지 꾸미기를 원한다면 가상선택자(before, after)를 활용하는 것을 권장한다. */
    display: flex;/* display: block; */ /* -> flex 이용으로 값 바꿔줌 */
    justify-content: center; /* flex사용 */
    align-items: center; /* flex사용 */
    margin: 0 auto;
    width: 409px;
    height: 71px; /* flex사용으로 다시 넣어줌 */
    /* line-height: 71px; */ /* height:71px; -> line-height:71px; 모양의 높이에서 글자를 중간으로 주려면 글자 높이로 바꿔준다. */ /* flex사용으로 가려줌 */
    border-radius: 50px;
    color: #fff;
    /* text-align: center; */ /* flex사용으로 가려줌 */
    font-size: 2.125rem;
    font-weight: 700;
}
    /* height: 500px; */ /* 여백은 내용의 여백을 주면서 커지게하는게 좋음 */
    /* 4 / 6번 공통값 */
main .bg section .th_title {
    font-size: 3.438rem;
    font-weight: 600;
    letter-spacing: -0.1px;
    color: #fff;
    padding: 100px 0 50px;
}
main .bg section .th_title em {
    font-weight: 700;
    background-color: #fff;
    color: #2E3148;
    display: inline-block;
    padding: 10px 0;
}
main .bg section .th_info {
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    /* margin: 92px 0 72px; */ /* 위,아래 여백 */
}
main .bg4 section p:last-child img,
main .bg6 section p:last-child img {
    width: 1250px; height: 625px;
    padding: 50px 0 100px;
}
/* ---------------------------------------------------------------------------------------------1.표지 */
main .bg1 section {/* background-color: purple; */}
main .bg1 section h1 {}
main .bg1 section h1 a {}
main .bg1 section h1 a img {}
main .bg1 section h2 {
    text-align: center;
    color: #fff;
    font-size: 4.375rem;
    letter-spacing: -0.2px;
    line-height: 1.2;
    margin: 45px 0 47px;
}
main .bg1 section h2 em {
    font-weight: 700;
}
main .bg1 section .sponsor_link::after {
    content: '';
    background-image: url(../images/btn_right_arrow.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
}
main .bg1 section .sponsor_question {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #050505;
    float: right;
    width: 420px;
    line-height: 51px;
    border-radius: 50px;
    color: #fff;
    /* text-align: center; */
    font-size: 1.625rem;
    margin-top: 95px; /* margin: 95px 0 0; */
}
main .bg1 section .sponsor_question::before,
main .bg1 section .sponsor_question::after {
    content: '';
    background-repeat: no-repeat;
    display: inline-block;
}
main .bg1 section .sponsor_question::before {
    background-image: url(../images/icon_sms.svg);
    background-size: 24px;
    width: 24px;
    height: 24px;
}
main .bg1 section .sponsor_question::after {
    background-image: url(../images/btn_right_arrow_2.svg);
    background-size: 25px;
    width: 25px;
    height: 25px;
}
/* --------------------------------------------------------------------------------2-퀴즈 */
main .bg2 section {/* background-color: pink; */}
/* 퀴즈 */
main .bg2 section {
    display: flex; /* flex의  item기본 메인축 정렬은 수평 */
}
main .bg2 section > * {
    /* width: 50%; */ /* flex를 주면 너비 필요 없이 flex 값을 준다 -> */ flex:1;
    /* background-color: purple; */
}
main .bg2 section #quiz {
    padding: 54px 0 55px;
}
main .bg2 section #quiz .wwf_quiz {}
main .bg2 section #quiz .wwf_quiz h2 {
    
    margin: 0 0 38px; /* margin-top:54px; margin-bottom:38px; */
    width: 450px; /* 퀴즈버튼의 너비 기준으로 */ text-align: center; /* 퀴즈 가운데로 배치  */
}
main .bg2 section #quiz .wwf_quiz h2+p {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.7; /* 나중에 두줄처리 했을때를 위하여 써줌 */
}
main .bg2 section #quiz .wwf_quiz .quiz_list {
    margin: 0 0 27px; /* ul과 아래 버튼의 간격 */
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.7;
}
main .bg2 section #quiz .wwf_quiz .quiz_list li {
    margin: 0 0 20px;
}
main .bg2 section #quiz .wwf_quiz .quiz_list li:last-child {margin: 0;} /* 맨아래 li의 여백은 필요가 없으므로 마진값을 따로준다.(=초기화) */
main .bg2 section #quiz .wwf_quiz .quiz_list li input[name=quiz_q] {display: none;} /* 기본체크 모양 없애기 */
main .bg2 section #quiz .wwf_quiz .quiz_list li label {
    background-image: url(../images/quiz_unchecked.svg);
    background-repeat: no-repeat; /* 반복되지 않게 */
    padding-left: 48px; /* height: 32px; */ line-height: 32px; /* 글씨체로 여백을 주는게 더 이쁘게 나온다. */
    display: inline-block;
}
main .bg2 section #quiz .wwf_quiz .quiz_list+p {/* margin: 0 0 55px */}
main .bg2 section #quiz .wwf_quiz .quiz_list+p #quiz_btn {
    background-color: #050505;
    color: #fff;
    border-radius: 50px;
    width: 450px;
    line-height: 39px;
}
main .bg2 section #quiz .wwf_quiz p #quiz_btn {}
main .bg2 section #quiz .wwf_quiz .quiz_list li input[name=quiz_q]:checked + label {
    background-image: url(../images/quiz_checked.svg);
}
/* 퀴즈 참여 현황 */
main .bg2 section .quiz_situation {
    /* background-color: lime; */
    padding: 115px 0 0;
    display: flex; flex-flow: column wrap; align-items: flex-end;
}
main .bg2 section .quiz_situation .status {
    width: 500px;
    border-radius: 15px;
    overflow: hidden; /* 자식의 기본 모양이 래디우스가 없는데 부모의 래디우스를 보이게 하려면 자식영역 가려주는것 */
}
main .bg2 section .quiz_situation .status h2 {
    background-color: #FE9300;
    color: #fff;
    font-size: 1.625rem;
    /* text-align: center; */
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .bg2 section .quiz_situation .status h2::before {
    background-image: url(../images/icon_person.svg);
    content: '';
    display: inline-block;
    width: 42px; height: 42px;
}
main .bg2 section .quiz_situation .contents {
    background-color: #fff;
    text-align: center;
    padding: 40px 0;
}
main .bg2 section .quiz_situation .contents em {
    font-size: 4.375rem;
    font-weight: 700;
    letter-spacing: -0.2px;
    color: #FE9300;
}
main .bg2 section .quiz_situation .contents span, 
main .bg2 section .quiz_situation .contents strong {
    font-size: 2.125rem;
    font-weight: 700;
}
main .bg2 section .quiz_situation .contents span {color: #FE9300;}
main .bg2 section .quiz_situation .contents strong {}
main .bg2 section .quiz_situation p {
    color: #fff;
    margin-top: 20px;
    font-size: 1.25rem;
}
/* --------------------------------------------------------------------------3-동영상 */
main .bg3 section {
    padding: 70px 0 50px;
    text-align: center;
}
main .bg3 section .sub_title {color: #000;}
main .bg3 section .sub_title {}
main .bg3 section #video {width: 900px; height: 600px; margin: 70px 0 45px;}
main .bg3 section .sponsor_link {}
/* --------------------------------------------------------------------------4-50 */
main .bg4 section {
    /* padding: 99px 0 126px; */ /* 맨위 맨아래 여백은 부모의 패딩으로 글씨 안은 자식의 마진으로 여백처리 */
}
main .bg4 section .th_title {
    /* font-size: 3.438rem;
    font-weight: 600;
    letter-spacing: -0.1px;
    color: #fff;
    padding: 100px 0 50px; */
}
main .bg4 section .th_title em {
    /* font-weight: 700;
    background-color: #fff;
    color: #2E3148;
    display: inline-block;
    padding: 10px 0; */
}
main .bg4 section .th_info {
    /* font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin: 92px 0 72px; */ /* 위,아래 여백 */
}
main .bg4 section .th_title+p {} /* <- +p는 .th_title 바로 옆의 p라는 뜻 */
main .bg4 section p:last-child {}
main .bg4 section p:last-child img {
    /* width: 1250px; height: 625px;
    padding: 50px 0 100px; */
}
/* -------------------------------------------------------------------------------5-빙하 */
main .bg5 section {
    padding: 63px 0 177px;
}
main .bg5 section .sub_title {
    font-size: 2.688rem;
    font-weight: 700;
    color: #050505;
    text-align: center;
}
main .bg5 section .sub_title+p {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 24px 0 120px;
    text-align: center;
}
main .bg5 section .bingha {
    /* background-color: lime; */
    display: flex;
}
main .bg5 section .bingha li {
    background-color: #fff;
    flex: 1; margin-right: 44px;
    text-align: center;
}
main .bg5 section .bingha li:last-child {margin: 0;}
main .bg5 section .bingha li .bg {
    /* width: 387px; */ height: 320px;
    padding-top: 48px;
}
main .bg5 section .bingha li:nth-child(1) .bg {
    background-image: url(../images/box_img_1.jpg);
}
main .bg5 section .bingha li:nth-child(2) .bg {
    background-image: url(../images/box_img_2.jpg);
}
main .bg5 section .bingha li:nth-child(3) .bg {
    background-image: url(../images/box_img_3.jpg);
}
main .bg5 section .bingha li .bg h3,
main .bg5 section .bingha li .bg p {
    font-weight: 700;
    color: #fff;
}
main .bg5 section .bingha li .bg h3 {
    font-size: 2.688rem;
    margin-bottom: 10px; /* 형제와 형제 사이 간격은 마진으로 준다. */
}
main .bg5 section .bingha li .bg p {
    font-size: 1.625rem;
}
main .bg5 section .bingha li .contents {
    font-size: 1.25rem;
    line-height: 1.7;
    /* width: 387px; */ height: 250px;
    /* padding: 10px 38px 0; */
}
/* ------------------------------------------------------------------------------6-위기 */
main .bg6 section {}
main .bg6 section .th_title {}
main .bg6 section .th_title em {}
main .bg6 section .th_info {}
main .bg6 section p:last-child {}
main .bg6 section p:last-child img {}
/* ------------------------------------------------------------------------------4/6 그룹선택자 */
/* main .bg4 section,
main .bg6 section {}
main .bg4 section .th_title,
main .bg6 section .th_title {}
main .bg4 section .th_title em,
main .bg6 section .th_title em {}
main .bg4 section .th_info,
main .bg6 section .th_info {}
main .bg4 section p:last-child,
main .bg6 section p:last-child {}
main .bg4 section p:last-child img,
main .bg6 section p:last-child img {} */
/* -----------------------------------------------------------------------------7-WWF */
main .bg7 section {}
main .bg7 section .sub_title {}
main .bg7 section .sub_title+p {}
main .bg7 section .sub_title+p em {}
/* -----------------------------------------------------------------------------8-WWF */
main .bg8 section {
    padding: 55px 0 80px;
}
main .bg8 section .sub_title {
    text-align: center;
    color: #000;
    font-size: 2.688rem;
    margin: 0 0 44px;
}
main .bg8 section .container {
    display: flex; /* 왼쪽 오른쪽으로 나눠진걸 부모에서 값을 줌 */
    justify-content: space-between; /* 좌 우로 나눠진 간격 주기 위함 */
}
main .bg8 section .container > * {
    width: calc((100% - 40px) / 2); /* flex값 1을 중목으로 주는게 아닌 공통으로 한번에 줄때 */
}
main .bg8 section .container .left {
    /* background-color: pink; */ /* flex: 1; */ /* 크기 값 */
}
main .bg8 section .container .left li {
    height: 264px; /* flex는 형제끼리 크기를 맞춰주는 특징이 있다. 여기 하나만 줘도 크기가 맞춰짐 */
    /* background-color: purple; */
}
main .bg8 section .container .left li:first-child {
    margin: 0 0 26px;
    background-image: url(../images/wwf_img1.jpg);
}
main .bg8 section .container .left li:last-child {
    background-image: url(../images/wwf_img2.jpg);
}
main .bg8 section .container .right {
    /* background-color: skyblue; */ /* flex: 1; */ /* 크기 값 */
    background-image: url(../images/wwf_img3.jpg);
}
/* 공통 */
main .bg8 section .container .left li,
main .bg8 section .container .right {
    position: relative;
}
main .bg8 section .container /* 중간부모생략 */ dl {
    background-color: rgba(5,5,5,0.5);
    position: absolute;
    /* absolute 설정 요소는 블록 요소여도 inline-block처럼 내용 크기만큼만 인식한다. */
    /* absolute 설정 요소의 기본 너비 100%를 유지하고 싶다면 absolute는 inline-block처럼 너비를 내용만큼만 인식하니까 반드시 width:100%를 추가로 입력해서 적용해야 한다! */
    left: 0;
    bottom: 24px;
    padding: 20px;
}
main .bg8 section .container dl * {
    color: #fff;
}
main .bg8 section .container dl dt {
    font-size: 2.125rem;
    font-weight: 700;
    margin: 0 0 10px;
}
main .bg8 section .container dl dd {
    font-size: 1.625rem;
}
/* -----------------------------------------------------------------------------9-WWF */
/* -----------------------------------------------------------------------------10-WWF */
/* -----------------------------------------------------------------------------11-WWF */
/* -----------------------------------------------------------------------------12-WWF */